
.Auth {
    color: white;
}

.Auth form {
    background: #7F00D7;
    padding: 10px;
    width: 400px;
    border-radius: 5px;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

